.venv/
venv/
env/
ENV/

**/data/interim/
**/data/tmp/

__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.pytest_cache/

.ipynb_checkpoints/

*.gexf
*.graphml
*.pkl
*.joblib

.DS_Store
Thumbs.db
.vscode/
.idea/

*.log
.env
.env.*
